table, tbody, tr, td {
    border-collapse: collapse;
}

body{
    width: 100dvw;
    height: 100dvh;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

main{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    row-gap: 1rem;
    column-gap: 1rem;
}

h1{
    margin: 1rem;
    color: #d55d8d;
    width: 100%;
    text-align: center;
}

.btn{
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 80px;

    font-size: 1rem;
    font-weight: 400;
    color: #590627;

    border-radius: 6pt;
    border: 1px solid #f9cddf;
}

.calc{
    text-align: right;
    padding: 0.4rem 0.5rem;
    font-size: 0.8em;
    background-color: #f9cddf;
    color: #d55d8d;
    border: 1px solid #fff;
    border-radius: 7pt;
}

.result{
    text-align: right;
    padding: 1rem 0.5rem;
    font-size: 1.4em;
    background-color: #f9cddf;
    border: none;
    border: 1px solid #fff;
    border-radius: 7pt;

}

.clean{
    background-color: #f3adc9;
    color: #ffecf4;
}

.clean:hover{
    background-color: #ed8bb2;
}

.number{
    background-color: #ffecf4;
}

.number:hover{
    background-color: #edd8e1;
}

.operation{
    background-color: #f3adc9;
}
.operation:hover{
    background-color: #ed8bb2;
}

.equal{
    color: #ffecf4;
    background-color: #d55d8d;
}

.equal:hover{
    background-color: #b74472;
}

.area, .area2{
    border: 1px solid #999;
    padding: 0.8rem;
}

form{
    max-width: 15rem;
}